h1 Stock Sim
h4 please log in

form(action='/login', method="POST" )
  input.form-control(name='email', placeholder='email')
  input.form-control(type="password" name='password', placeholder='password')
  input.form-control(type="submit", value="Login")

form(action='/register', method="POST" )
  input.form-control(type="email" name='email', placeholder='email')
  input.form-control(type="password" name='password', placeholder='password')
  input.form-control(type="submit", value="Register")
